nav a img {
    vertical-align: -90%;
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

.hidden {
    display: block;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}